html, body {
  overscroll-behavior: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*css pour le header*/

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #7F2221;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    color: white;
}

header>#logo {
    width: 20%;
    background-color: #F1C1A5;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 60% 100%);
    align-content: center;
    
}

header>#logo>div {
    height: 80%;
    width: 20%;
    background-color: white;
    margin-left: 30%;
    border-radius: 100%;    
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

}

header>#vide {
    width: 20%;
    background-color:  #F1C1A5;
    clip-path: polygon(0% 100%, 40% 0%, 100% 0%, 100% 100%);
}

header>nav{
    height: 100%;
    width: 50%;
    align-content: center;
}

ul{
    list-style: none;
}
nav>ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 80%;
    margin: auto;
    align-items: center;
}

nav>ul>li{
    font-size: 1em;
    font-weight: 500;
}
nav>ul>li>a{
    text-decoration: none;
    display: block;
    color: white;
}

nav>ul>li>a:hover{
    background-color:white ;
    font-size: 18px;
    font-weight: 600;
    color: #7F2221;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    
}
#a_actif{
    background-color:white ;
    font-size: 18px;
    font-weight: 600;
    color: #7F2221;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
/*css du corps en commun*/
.conteneur-page{
    display: flex;
    flex-direction: column;

}
/*css pour footer*/
footer{
    margin-top: 20px;
    background-color: #7F2221;
    text-align: center;
    height: 30px;
    align-content: center;
}
footer>p{
    font-size: 14px;
    margin: 0;
}