body{
    background-color: #577042;
}
h4 {
    text-decoration: underline;
    margin: 0;
    margin-top: 10px;
}

.conteneur-page {
    padding-top: 65px;
}

.conteneur-page>div {
    background-color: #00000063;
    height: 60px;
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
.conteneur-page>div >h2{
    margin:0;
}

.conteneur {
    flex: 1;
    width: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.conteneur>section {
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    width: 92%;
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.077);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#images-portrait {
    justify-content: space-between;
    display: flex;
    padding: 15px;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
}

img {
    height: 100%;
    width: 15%;
    align-self: center;
}

.conteneur>article {
    text-align: justify;
    background-color: white;
    width: 80%;
    margin: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.conteneur>article>h1 {
    text-align: center;
}

.conteneur>article>section {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.conteneur>article>section>p {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
