body{
    background-color: white;
}
.conteneur-page{
    padding-top: 65px;
}
.conteneur-page>div {
    background-color: #757575;
    height: 70px;
    text-align: center;
    padding-top: 10px;

}
h1{
    margin: 0;
}
.conteneur-page>section{
    margin-top: -20px;
    flex: 1;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#score{
    text-align: end;
    border-top: 2px solid black;
    margin-top: 19px;
    padding-right: 20px;
    padding-top: 10px;
    font-weight: 600;
}
form{
    padding: 20px 20px 0px 20px;
}
form p{
    font-size: 18px;
    font-weight: 600;
    margin:0 ;
}
fieldset{
    border: none;
    border-bottom: 1px solid black;
}
fieldset>div{
    margin-bottom: 10px;
}
fieldset>div>label{
    margin-left: 17px;
}
#boutons{
    height: max-content;
    width: 40%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}
#boutons> input{
    width: 22%;
    height: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: white;
    background-color: #7F2221;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}